h1{
    background-color: beige;
    color: black;
    text-align: center;
    font-size: 32px;
    font-family: 'Courier New', Courier, monospace;
}

h2{
    background-color: black;
    color: beige;
    text-align: center;
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
}

h3{
    background-color: black;
    color: beige;
    text-align: center;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
}

h4{
    background-color: beige;
    color: black;
    text-align: center;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

p{
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}

li{
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}